{{!< layout}}
  <header class="page-header">
    <h2 class="page-title">
      <span class="bigger text-center"> Web-based Contacts App </span><br>
    </h2>
  </header>

  <section class="block">
    <header class="block__header">
      <h3 class="block__title"><i class="fa fa-users"></i>&nbsp; Contacts Index</h3>
      <div class="input-group">
        <input id="searchField" spellcheck="false" type="text" autocomplete="off" placeholder="Search for a Contact" name="search">
      </div>
    </header>
    <div class="srs">
      {{#each contacts as |contact|}}
        <div class="list-group">
          <a id="contact" href="/contacts/{{contact._id}}" class="list-group-item">
            <h4 class="list-group-item-heading"><i class="fa fa-user"></i>&nbsp; {{contact.name.full}}</h4>
            <p class="list-group-item-text">{{contact.mobile}}</p>
          </a>
        </div>
      {{/each}}
    </div>
  </section>
{{#contentFor 'pageScripts'}}
  <script>
    $('#searchField').keyup(function(e) {
      var _tag = $('#searchField').val();
      if (_tag != '') {
        $.ajax({
          dataType: 'json',
          url: '/search?name=' + _tag,
          method: 'GET',
          complete: function(data) {
            console.log(data.responseJSON);

            if (data) {
              var items = data.responseJSON
              $('.srs').empty();
              //$('.list-group').append(" Results for <b>" + _tag + "</b>");

              $.each(items, function(i, item) {
                 $('.srs').append("<div class='list-group'><a id='contact' class='list-group-item' href='/contacts/" + encodeURIComponent(item) + "'><h4 class='list-group-item-heading'><i class='fa fa-user'></i>&nbsp;" + item + "</h4><p class='list-group-item-text'>" + item + "</p></a></div>");
              })
            }
          }
        })
      }
    }) 
  </script>
{{/contentFor}}