

    <header class="page-header">
      <h2 class="page-title">
        <span>Add New Contacts</span><br>
        <span class="bigger"> View Contacts</span><br>
        <span>Edit Contacts</span>
      </h2>
    </header>

    <section class="block">
      <header class="block__header">
        <h3 class="block__title"><i class="fa fa-users"></i>&nbsp; Contacts Index</h3>
      </header>
        {{#each contacts as |contact|}}
          <div class="list-group">
            <a id="contact" href="/contacts/{{contact._id}}" class="list-group-item">
              <h4 class="list-group-item-heading"><i class="fa fa-user"></i>&nbsp; {{contact.name.full}}</h4>
              <p class="list-group-item-text">{{contact.mobile}}</p>
            </a>
          </div>
          {{/each}}
    </section>
    